node_modules
.env
*.pyc
*.pyo
build/
dist/
__pycache__/
*.py[cod]
*.zip

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
